In [1]:
lst=[1,3,5,7,9,3]
print(max(lst))

9

In [2]:
lst=[1,2,3,4,56]
print(min(lst))

1

In [3]:
lst=[11,22,33,44,55,66]
print(sum(lst))

231

In [3]:
data="123456789"
data=list(data)
print(data)

['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [4]:
data=list(map(int,data))
print(data)
print(sum(data))

[1, 2, 3, 4, 5, 6, 7, 8, 9]
45

In [6]:
data=list(map(str,data))
print(data)
data=''.join(data)
print(data)

['1', '2', '3', '4', '5', '6', '7', '8', '9']
123456789

In [9]:
n=int(input())
for i in range(n):
    data=input()
    data=data.split()
    data=list(map(int,data))
    print(sum(data))

2
10 20 30 40 50
150
4 5 6 7 8
30

In [13]:
n=int(input())
for i in range(n):
    print(sum(list(map(int,input().split()))))

3
4 5 6 7 8
30
7 7 7
21
1 1 1 1
4

In [18]:
d={"svce":2004,"cbit":2008,"klm":2007}
d

{'svce': 2004, 'cbit': 2008, 'klm': 2007}

In [19]:
d.values()

dict_values([2004, 2008, 2007])

In [21]:
d.items()

dict_items([('svce', 2004), ('cbit', 2008), ('klm', 2007)])

In [22]:
d.popitem()

('klm', 2007)

In [24]:
d.pop("cbit")

2008

In [25]:
d

{'svce': 2004}

In [26]:
d["klm"]=2008

In [27]:
d

{'svce': 2004, 'klm': 2008}

In [32]:
res={}
data=list(input())
print(data)
for ch in data:
    res[ch]=data.count(ch)
for key,value in res.items():
    print(key,"-->",value)

abcdefghijabdvkjjej
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'a', 'b', 'd', 'v', 'k', 'j', 'j', 'e', 'j']
a --> 2
b --> 2
c --> 1
d --> 2
e --> 2
f --> 1
g --> 1
h --> 1
i --> 1
j --> 4
v --> 1
k --> 1

In [35]:
res=''
data=input()
for ch in data:
    if ch not in res:
        res=res+ch
print(res)

sssssssuuuuuuuuupppppppprrrrrrrriiiiiiyyyyyyyyaaaaaaaa
supriya

In [36]:
print(''.join(set(list(data))))

spuairy

In [38]:
^[+][9][1][6-9][0-9]{9}$|^[0][0-9]{10}$|^[6-9][0-9]{9}$

SyntaxError: invalid syntax (<ipython-input-38-3d239260c0ba>, line 1)

In [ ]:
^[a-z][a-z,0-9,.,-]{7,34}[@][a-z]{3,7}[.][a-z]{2,3}$